h2{
    text-transform: uppercase;
}

.list {
    list-style: none;
}

h4{
  text-decoration: none;
  border-style: none;
  outline-style: none;
  text-decoration-style: none;
}

/* line hr */
#linea{
    
    background-color: #ec8812;
    width: 100%;
    border: solid 1px #e4f805;
  }


 /* Contenedor principal  */
.container {
    background: linear-gradient(to right,rgba(0, 0, 0, 0.672), rgba(255, 255, 255, 0.17),rgba(0, 0, 0, 0.672));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    text-align: justify;
}

/* Buscador */
.Shearch{
    width: 90%;
    margin: 50px;
    display: flex;
    justify-content:flex-end;
  
     & span{
    margin: 5px 40px 5px 0px;
    
    } 
  }
  
  .Shearch form{
    position:static;
    display: flex;
    flex-direction: column;
  }
  
  .Shearch input{
    height: 50px;
    position: initial;
    width: 350px;
    display: flex;
    padding: 10px;
    font-size: 2rem;
    font-family: sans-serif;
    flex-direction: column;
    font-weight: bold;
    font-style: italic;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  .Shearch label{
    position: absolute;
    color: #0a0a09;
    height: 20px;
    padding: 20px 0px 0px 10px;
    transition: all 1s ease;
  
  }
  
  .Shearch:hover{
   & .Shearch-label{
    padding-top: 0px;
   
   width:60px ;
   color: #ffd40b;
   }
   
  }
  


  /* Card */
.Card {
    color: white;
    margin: 20px 20px 20px 20px;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.cardContainer {
    margin: 10px 0px 0px 0px;
    width: 100%;
    height: auto;

    & ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    & li{
        margin: 10px;
        
    }
}

.cardContainer p{
  text-decoration:underline;
  color: #fffdfd;
}


.DeleteButton{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.DeleteButton button{
  width: 50px;
  justify-content: right;
  cursor: pointer;
  outline: none;
  outline-style: none;
  border-style: none;
  border-radius: 2px;
}

.DeleteButton img{
  width: 20px;
  margin: 5px;
}


.DeleteButton button:hover{
  box-shadow: rgba(255, 0, 0, 0.726) 1px 1px 20px 2px;
  background-color: rgba(223, 14, 14, 0.765);
}
